.container {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.logo {
    margin-left: 20px;
}

.user_info {
    width: 400px;
    display: flex;
    // justify-content: space-around;
    align-items: center;
}

.user_info_name {
    margin-right: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 30px;
    border-radius: 50px;
}

.sign_out_btn {
    height: 50px;
    width: 150px;
    background-color: #C83838;
    border-radius: 10px;
    border: none;
    color: #fff;

    &:hover {
        background-color: #E93E3E;
    }
}